@model IEnumerable<BLL.Models.ProductInfDTO>

@Styles.Render("~/Content/ZaolisShop/Product")


<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div data-aos="zoom-in" class="card-margin col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="div-link">
                    <a href="@Url.Action("Details","Product",new { id = item.Id })">
                        <div class="images">
                            <img class="image-1" src="/Images/Products/@item.Img1">
                            <img class="image-2" src="/Images/Products/@item.Img2">
                        </div>
                        <div>
                            <span>@item.Name</span>
                            <br>
                            <span>@item.Price</span>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>