@model IEnumerable<BLL.Models.ProductInfDTO>

<div class="cont-products">
    <h3 class="home-title">PRODUCTS</h3>
    @Html.Partial("_productInfList", Model);
    <div class="button_base b03_skewed_slide_in button-shop">
        <div>SHOP ALL</div>
        <div></div>
        <div>SHOP ALL</div>
    </div>
</div>