@model BLL.Models.HomePageProductDTO


<div class="cont-products">
    @if (Model.ProductsNew.Count > 0)
    {
        <h3 class="home-title">PRODUCTS</h3>
        @Html.Partial("_productInfList", Model.ProductsNew)
    }
    else
    {
        <div class="container">
            <h3 class="home-title">SORRY PRODUCTS NOT FOUND</h3>
        </div>
    }
</div>