.card-margin {
    padding: 50px;
}

.div-link {
    text-align: center;
}

    .div-link a {
        text-decoration: none !important;
        color: black;
    }

.price {
    position: absolute;
}

.image-1 {
    width: 350px;
    height: 520px;
    position: absolute;
}

.image-2 {
    width: 350px;
    height: 520px;
}

.div-link:hover .image-1 {
    color: black !important;
    visibility: hidden;
}

.div-link:hover .image-2 {
    color: black !important;
    visibility: visible;
}

.div-link:hover a {
    color: black !important;
}


.home-title{
    text-align: center;
    
}

.cont-products{
    padding-top: 100px
}