
.register-form {
    width: 35%;
    background-color: white;
    padding: 30px 50px;
    margin-right: auto;
    margin-bottom: 150px;
}

.main{
    text-align: center;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}


.b03_skewed_slide_in {
    overflow: hidden;
    border: #000000 solid 1px;
}

    .b03_skewed_slide_in div {

        position: absolute;
        text-align: center;
        margin-top: -25px;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
    }

        .b03_skewed_slide_in div:nth-child(1) {
            color: #000000;
            background-color: #ffffff;
        }

        .b03_skewed_slide_in div:nth-child(2) {
            background-color: #000000;
            width: 230px;
            transition: all 0.2s ease;
            transform: translate(-250px, 0px) skewX(-30deg);
        }

        .b03_skewed_slide_in div:nth-child(3) {
            color: #ffffff;
            left: -200px;
            transition: left 0.2s ease;
        }

    .b03_skewed_slide_in:hover div:nth-child(2) {
        transition: all 0.5s ease;
        transform: translate(-15px, 0px) skewX(-30deg);
    }

    .b03_skewed_slide_in:hover div:nth-child(3) {
        left: 0px;
        transition: left 0.30000000000000004s ease;
    }

.create-account-link{
    color: black;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

    .create-account-link a {
        text-decoration: none;
        color: black;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }

.create-account-link a:hover{
    color: dimgrey;
}

.login-header{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.p-please{
    text-align: center !important;
    font-size: 14px !important;
    margin-bottom: 35px !important;
}

.btn-aouth-facebook {
    padding: 0px;
    margin: 10px;
    background-color: transparent;
    border: none;
    color: dimgrey;
    cursor: pointer;
    outline: none !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.btn-aouth-facebook:hover {color: #4867AA;}

.btn-aouth-google:hover {
    color: red;
}

.btn-aouth-google {
    padding: 0px;
    margin: 10px;
    background-color: transparent;
    border: none;
    outline: none !important;
    color: dimgrey;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.btn-aouth-facebook:focus { outline: none !important;}
.btn-aouth-google:focus { outline: none !important;}
